* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ababab;
}
.main{
    display: flex;
}
.guessField{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.75);
    padding: 30px;
}
.letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: rgb(171,171,171);
}
.current-word {
    list-style: none;
}
.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: green;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}
.gameBody img{
    height: 400px;
}
.gameBody{
    width: 50%;
    position: relative;
}

#head{
    display: none;
    width: 100px;
    height: auto;
    position: absolute;
    top: 14%;
    left: 24.8%;

}
#body{
    display: none;
    width: 110px;
    height: auto;
    position: absolute;
    top: 30%;
    left: 23%;
    z-index: 1;
}
#legs{
    display: none;
    width: 110px;
    height: auto;
    position: absolute;
    top: 52%;
    left: 22.5%;
}
#lh{
    display: none;
    width: 60px;
    height: auto;
    position: absolute;
    top: 34.9%;
    left: 21.6%;
}
#rh{
    display: none;
    width: 47px;
    height: auto;
    position: absolute;
    top: 34%;
    left: 37%;
}
